* {
  padding: 0;
  margin: 0;
}

.container {
  /*background-image: url('/assets/img/background/0.jpg');*/
  width:100%;
  /*position: relative;*/
}

canvas {
  background-image: url('/assets/img/background/0.jpg');
  /*position: absolute;*/
}
